<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinwei.tvgame2048">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/GenerateActivityTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.GameGoBackModeActivity" />
        <activity android:name=".ui.GameModeChoiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.GameSettingsActivity"
            android:theme="@style/SettingActivityTheme">
        </activity>
    </application>

</manifest>